.header__lang-link_first_active {
  margin: 0;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  color: #FFFFFF;
  text-decoration-line: underline;
  padding: 18px 0px 6px 931px;
  max-width: 30px;
  width:100%;
  max-height: 28px;
  height:100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  text-align: left;
  }

  @media (max-width: 1024px) {
    .header__lang-link_first_active {
      margin: 0;
      padding: 18px 0px 6px 675px;
      max-width: 30px;
      width:100%;
      max-height: 28px;
      height:100%;
      font-weight: 400;
      font-size: 24px;
      line-height: 117%;
      text-align: left;
    }
  }
  @media (max-width: 768px) {
    .header__lang-link_first_active {
      margin: 0;
      padding: 18px 0px 6px 467px;
      max-width: 30px;
      width:100%;
      max-height: 28px;
      height:100%;
      font-weight: 400;
      font-size: 24px;
      line-height: 117%;
      text-align: left;
    }
  }
@media (max-width: 425px) {
  .header__lang-link_first_active {
    margin: 0;
    padding: 14px 0px 8px 84px;
    max-width: 22px;
    width:100%;
    max-height: 20px;
    height:100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: left;
  }
}
