.place__image {
    max-width: 460px;
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media (max-width: 615px) {
    .place__image {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 32px;
        background-size:cover;

    }
}
@media (max-width: 320px) {
    .place__image {
        min-width: 320px;
    }
}