.intro__list_ul {
    max-width: 690px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .intro__list_ul {
        max-width: 690px;
        width: 100%;
        max-height: 90px;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .intro__list_ul {
        max-width: 720px;
        width: 100%;
        max-height: 90px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 425px) {
    .intro__list_ul {
        max-width: 288px;
        width: 100%;
        max-height: 90px;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }
}