.cover__subtitle {
  margin: 0 auto;
  display: flex;
  max-width: 360px;
  width: 100%;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 245px;
  font-family: 'Inter', Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 122%;
  text-decoration: none;
  color: #ffffff;
  z-index: 2;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    max-width: 46.875%;
    padding-top: 32px;
    padding-bottom: 115px;
    font-size:  calc(14px + (14 - 18) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 425px) {
  .cover__subtitle {
    min-width: 288px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 33px;
    font-size: 14px;
    line-height: 114%;
  }
}