.cover__subtitle {
  margin: 0 auto;
  min-width: 288px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 33px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;  
  text-align: center;
  line-height: 114%;
  text-decoration: none;
  color: #ffffff;
}