.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
    padding: 0;
    max-width: 484px;
    width: 100%;

}

@media (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
        width: 100%;

    }
}

@media (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        max-width: 352px;
        width: 100%;

    }
}

@media (max-width: 425px) {
    .place__paragraph {
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 25px;
        max-width: 288px;
        width: 100%;
    }

    .place__paragraph:last-child {
        font-size: 16px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 0px;
        max-width: 288px;
        width: 100%;
    }
}