.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  height: 100%;
  background-image: url('../../images/__background.svg');
  background-size:cover;
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .cover {
    background-image: url('../../images/__background.svg');
    background-size:cover;
  }
}