.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  height: 100%;
  background-image: url('../../images/__background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;


  /*z-index: 1;*/
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover {
    min-width: 320px;
    min-height: 200px;
  }
}