.cover {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  height: 100%;
  background-image: url('../../images/__background.svg');
  background-size:cover;
  position: relative;
  color: white;

  /*z-index: 1;*/
}

@media (max-width: 1024px) {
  .cover {
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  }
}

@media (max-width: 768px) {
  .cover {
  min-width: 100%;
  min-height: 100%;
  background-size:cover;
  }
}

@media (max-width: 425px) {
  .cover {
  min-width: 320px;
  min-height: 200px;
  background-size:cover;
  }
}
