.place__website {
    align-self: flex-end;
    max-width: 456px;
    width: 100%;
    margin: auto 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    vertical-align: bottom;
    justify-self: baseline;
}


@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media (max-width: 615px) {
    .place__website {
        margin: 0 auto;
        max-width: 90%;
        padding-bottom: 0;
    }
}