.place__website {
    align-self: flex-end;
    max-width: 456px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    vertical-align: bottom;
    margin-top: auto;
    justify-self: baseline;
}

@media (max-width: 1024px) {
    .place__website {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 23px;
    }
}

@media (max-width: 600px) {
    .place__website {
        margin: 0 auto;
        padding: 0;
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
}